/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@media (min-width: 768px) {
.container {
    width: 700px;
}
}

body {
    font-family: 'Osaka','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ＭＳ Ｐゴシック','MS PGothic','Candara','Andale Mono','Copperplate',sans-serif;
    font-size: 16px;
}

.container {
  background-color: white;
  margin-top:15px;
  margin-bottom:30px;
}

/*トップページの円*/
.circle {
  margin: auto;
  text-align: center;
  width: 300px;
  height: 300px;
  background: #00aced;
  border-radius: 80% 40% 40% 45%/ 60%;
}

.circle:hover {
  background: #0489B1;
}

/*トップページの円の中の文字*/
.circle-moji {
  font-size: 20px;
  color:white;
  line-height: 300px;
}

.circle-moji:hover {
  text-decoration: none;
  color:white;
}

.circle-moji:active {
  text-decoration: none;
  color:white;
}

.circle-moji:visited {
  text-decoration: none;
  color:white;
}

.circle-moji:focus {
  text-decoration: none;
  color:white;
}

/*トップページのタイトル*/
.top-title {
  text-align:center;
  height:150px;
  line-height: 150px;
  font-size: 25px;
  letter-spacing: 3px;
}

/*ログイン後のトップページのボタン*/
.toppage_btn{
    width:30%;
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
    transition: .4s;
    background-color: #00aced;
    border-radius: 10px;
    margin:10px;
}

.toppage_btn:hover{
  text-decoration: none;
  color: grey;
}

.toppage_logout{
    width:30%;
    padding: 0.3em 0.7em;
    text-decoration: none;
    color: #585858;
    transition: .4s;
    background-color: white;
    border: solid #00aced 2px;
    border-radius: 10px;
    margin-top: 100px;
}

.toppage_logout:hover{
  text-decoration: none;
  color: grey;
}

/*ログイン後のプロフィール画像*/
.profile {
  margin:60px 0 30px;
}

.profile-image {
  height: 100px;
  border-radius: 80px;
  border: solid 3px #F25F5C;
}

/*タイムラインのプロフィール画像*/
.tweet-profile-image {
  height: 60px;
  border-radius: 50px;
  border: solid 2px #F25F5C;
}

/*ツイート全体を囲んでいるもの*/
.wrap {
  border-top: solid 1px #D8D8D8;
}

/*タイムラインのツイート一つひとつ*/
.tweet {
  border-bottom:solid 1px #D8D8D8;
  margin-bottom: 10px;
  margin-top: 3px;
  font-size: 15px;
}

/*タイムラインの左に寄せる プロフ画像とか*/
.float-left {
  float: left;
  width: 15%;
  text-align: center;
}

/*タイムラインの右に寄せる画像*/
.tweet-contents {
  float: right;
  width: 85%;
  padding: 3px 15px;
}

/*タイムライン プロフ画像への回り込み回避*/
#clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/*タイムライン アカウント名*/
.tweet-name{
  font-size: 11px;
}

/*通知メッセージ*/
.notice {
  text-align: center;
  border:solid 2px #00aced;
  border-radius: 10px;
  color :#585858;
}

/*タイムラインのタイトル*/
.timeline-title{
  text-align: center;
  margin-bottom: 40px;
}

/*タイムラインの更新ボタン*/
.reload_btn {
  color: #585858;
}

/*タイムラインの更新ボタンのアイコン*/
.reload-icon {
   color: #585858;
   font-size: 0.9em 
}

/*タイムラインの登録画面全体*/
.timeline-register {
  width: 300px;
  margin: 20px auto;
}

/*タイムライン登録のボタン*/
.group_register_btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 30px auto 50px;
    text-align: center;
    width: 100px;
    height: 100px;
    background: #00aced;
    border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}

.group_register_btn:hover {
    background: #0489B1;
}

/*タイムライン登録のフォームをフォーカスしたときのCSSアニメーション*/
input[type="text"] {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    width: 200px;
}

input[type="text"]:focus {
    width: 300px;
}

/*トップ画面の使い方のところ*/
.howtouse {
    border-top: solid 2px #F25F5C;/*線*/
    border-bottom: solid 2px #F25F5C;/*線*/
    margin-bottom: 30px;
    color: #585858;
}

/*トップ画面の使い方のところでクリックした後のデザイン*/
.change-top {
  margin-top: 100px;
}

/*使い方のところの画像*/
.screenshot{
  width:70%;
}

/*タイムラインを選ぶリンクのところ*/
.timeline-select {
  border-bottom:solid 1px #D8D8D8;
  margin-bottom: 10px;
  margin-top: 25px;
  width: 70%;
}

.timeline-select a {
  color: #585858;
}

/*タイムラインの名前が書いてあるところ*/
.timeline-name{
  margin-bottom: 10px;
}


/*フッターデザイン*/
.footer {
  color: #A4A4A4;
  font-size: 10px;
  margin-top: 100px;
}

/*ツイートに含まれる画像*/
.tweet-image {
  width: 40%;
  margin:3px 0px;
  border-radius: 5px;
}